body, html, #root {
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
  color: #848484 !important;
}

h1, h2, h3, h4, h5, h6 {
  color: #848484 !important;
  font-weight: bold;
}

.ant-progress-inner {
  border-radius: 6px !important;
}

.ant-progress-bg {
  padding: 10px !important;
  border-radius: 6px !important;
}
